<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Google/css/estilos.css">
</head>
<body>
    <header class="header">
        <ul class="menu_left">
            <li class="menu_about"><a href=""> Sobre Google</a> </li>
            <li class="menu_tienda"><a href=""> Tienda</a> </li>
        </ul>
        <ul class="menu">
            <li class="menu_mail"><a href=""> Gmail</a> </li>
            <li class="menu_imagenes"><a href=""> Imagenes</a> </li>
            <li class="menu_icons__app"> <a> <img class="imagen" src="/Google/assets/apps.svg" alt=""> </a></li>
            <li class="menu_icons__profile"> <a> <img class="correo" src="/Google/assets/profile_img.jpg" alt=""> </a></li>
        </ul>
    </header>
</body>
</html>