<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Carrousel</title>
</head>
<style>
    
    </style>
<body>
    <section class="carrousel">
        <div class="carrousel__container">
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="../assets/imagen 1.jpg" alt="">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="Play icon">
                        <img src="../assets/icon-plus.png" alt="Plus icon">
                    </div>   
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="../assets/imagen 2.jpg" alt="">
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="../assets/imagen 3.jpg" alt="">
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="../assets/imagen 4.jpg" alt="">
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="../assets/imagen 5.jpg" alt="">
            </div>
        </div>
    </section>
</body>
</html>