body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
}

/* Estilos del header */
.header {
    align-items: center;
    background-color: transparent;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}
.header__img {
    margin-left: 30px;
    width: 200px;
}

/* Menu del Header */
.header__menu {
    margin-right: 30px;
}
.header__menu li {
    margin:10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
    text-decoration: underline;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover {
    display: block;
}
.header__menu--profile{
    margin-right:10px;
    display: flex;
    align-items: center;
}
.header__menu--profile img{
    margin-right: 8px;
    height: 32px;
}
.header__menu--profile p {
    margin: 0px;
    color: white;
}
/* Este es el BUSCADOR */
.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title {
    color: white;
    font-size: 25px;
}
/* Boton del buscador */
.input__buscador {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color:white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
}
::placeholder {
    color: white;
    border-radius: 25px;
}
.input__buscador:focus {
    outline: none;
}
/* Estilos del carrusel */
.carrousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.categories__tittle {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.carrousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    position: relative;
}
.carrousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carrousel-item:hover ~ .carrousel-item{
    transform: translate3d(100px, 0, 0);
}
.carrousel__container:hover .carrousel-item {
    opacity: 0.3;
}
.carrousel__container:hover .carrousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carrousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    position: relative;
}
.carrousel-item__details {
    background: linear-gradient(to top, rgba (0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450 ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.carrousel-item__details img {
    width: 20px;
}
.carrousel-item__details--title {
    color: white;
    margin: 5px 0px 0px px;
}
.carrousel-item__details--subtitle{
    color: white;
    margin 3px 0px;
}

.carrousel-item:hover .carrousel-item__details {
    opacity: 1;
}
/* Scrollbar de carrousel */
.carrousel::-webkit-scrollbar {
    width: 1em;
}
/* .carrousel::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 006pxrgba(0,0,0,0.1);
} */
.carrousel::-webkit-scrollbar-thumb{
    background-color: lightblue;
    outline: 1pz solid slateblue;
    border-radius: 25px;
}
/* Seccion del home del body */
.body__home {
    background: linear-gradient(#21C08B,#ab88ff)fixed;
}
/* Seccion de Login */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form {
    display: flex;
    flex-direction: column;
}
.login__container--form label{
    font-size: 14px;
}
.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.login__container a:hover {
    text-decoration: underline;    
}
.login__container--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}
.login__container--register {
    font-size: 14px;
}
.login__container--register a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.login__container--register a:hover{
    text-decoration: underline;
}
.login__container--login {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
.login__container--login:hover{
    text-decoration: underline;
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;  
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder {
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    outline: none;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Pagina de 404*/
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
.page-404 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}
.page-404 h2{
    font-size: 70px;
    font-weight: bold;
    animation-name: pulse;
    animation-duration: 1s;
}
.page-404 p{
    font-size: 20px;
}
.error-404 {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

/* Footer */
.footer {
    background-color: #ab88ff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    
    bottom: 0;
}
.footer a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size:14px;
    padding-left: 30px;
}
.footer a:hover {
    text-decoration: underline;
}

/* Aqui van los Media Queries */
@media only screen and (max-width: 600px) {
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;

    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}